body {
    margin:5px;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
   
}

.container{
    border:1px;
    margin:auto;
}

.col-sm-3{
    text-align: center;
    border:3px solid;
    font-weight: bold;
    border-color: gray;
}

#states, #cities, #areas{
    height:555px;
}

#inner-div{
    height: 100%;
}

#state{
    background-color:darkorange;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    margin:5px 10px 5px 10px; 
}

#city{
    background-color:mediumorchid;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    margin:5px 10px 5px 10px;
}

#area{
    background-color:gray;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    margin:5px 10px 5px 10px;
}


h2.text{
    text-align: center; 
    font-weight: bold;
    text-decoration: underline;
}

h3.st, h3.ct, h3.ar{
    margin-left: 120px;
}

.first-div{
    height: 20px;
    width: 30px;
    border: 1px solid, black;
}